@import sorm.Persisted
@import org.atteo.evo.inflector.English
@(messages: Stream[models.Message with Persisted])(implicit request: play.api.mvc.Request[AnyContent])

@import util.Format


@main {

    <div class="panel panel-default">
        <div class="panel-heading">Sent SMS Messages</div>
        <div class="panel-body">
            <div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <th>Message #</th><th>Time Sent</th><th>Group</th><th>Message</th><th>Responses</th>
                    </thead>
                    @for(message: Message with Persisted <- messages) {
                        <tr>
                            <td>@message.id</td>
                            <td>@Format.date(message.date)</td>
                            <td>All Members</td>
                            <td class="col-md-4">@message.body</td>
                            <td class="col-md-4">
                                <table class="table ">
                            @for(response <- message.responses) {

                                <tr><td>@Format.date(response.date)</td><td>@response.member.name (@response.member.phone)</td><td><i>@response.body</i></td></tr>

                            }
                                </table>
                            </td>

                        </tr>
                    }
                </table>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newMessageModal">
                    <i class="fa fa-plus-square"></i>
                    <span> Send New Message</span>
                </button>
            </div>
        </div>
    </div>




    <form action="@routes.Application.newMessage()" method="post">


        <div id="newMessageModal" role="dialog" aria-hidden="false" class="modal fade in">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span>
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                            <h4>Send a Message</h4>
                        </span>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Message Text (140 characters or less)</label>
                            <textarea id="messagebody" name="body" rows="3" maxlength="140" placeholder="Text" class="form-control"></textarea>
                            <p id="messagebody_feedback"></p>
                        </div>
                        <div class="form-group">
                            <label for="instrument">Send to Which Group?</label>
                            <select name="instrument" id="instrument" class="form-control">
                                <option>All Members</option>
                                @for(instrument <- util.Instruments.INSTRUMENTS) {
                                    <option>@English.plural(instrument)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span>
                            <input type="submit" value="Save" class="btn btn-default">
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <script>
            $(document).ready(function() {
                var text_max = 140;
                $('#messagebody_feedback').html(text_max + ' characters remaining');

                $('#messagebody').keyup(function() {
                    var text_length = $('#messagebody').val().length;
                    var text_remaining = text_max - text_length;

                    $('#messagebody_feedback').html(text_remaining + ' characters remaining');
                });
            });
    </script>

}
